Header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1ad54c;
	height: 100px;
	width: 100%;
	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

Header>* {
	padding: 0 2rem;
}