.navBar {
	width: 100%;
}

.navBar__list {
	height: 100%;
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
}

.list__navItem {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
	background-color: #17be43;
}

.list__navItem:hover {
	cursor: pointer;
	background-color: #1ad54c;
}