.botComList {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: grid;
	grid-auto-flow: column;

	list-style: none;
	gap: 10px;
	padding: 0 10px;
	padding: 10px;
	overflow: scroll;

	background-color: #262626;
	border-radius: 10px;
}